
<h1>Edit Tweet </h1>

<h1><%= @tweet.content %></h1>

<form action='/tweets/<%= @tweet.id %>' method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="content">Content</label>
    <input id="content" type="text" name="tweet[content]" value="content">
    <br>

    <input type="submit" id= "submit" value="Edit Tweet">
